<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> --}}
  {{!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> --}}
  {{!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> --}}
  <title>Food Bank</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/stylesheets/login.css"></link>
  <link rel="stylesheet" href="/stylesheets/dashboard.css"></link>
  <link rel="stylesheet" href="/stylesheets/allCustomer.css"></link>
  <link rel="stylesheet" href="/stylesheets/single-customer.css"></link>
  <link rel="stylesheet" href="/stylesheets/chat.css"></link>
  <link rel="stylesheet" href="/stylesheets/main-page.css"></link> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
  ></link>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  {{!-- <div class="wrap">
    <header>
      <nav>
        <h1><a href="/">Food Bank</a></h1>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
      </nav>
    </header>
</div> --}}

<header>
        <h1>
            <img src="New_Banner.png" alt="Food Forward"></img>
        </h1>
</header>

    <main>
      {{{ body }}}
    </main>

    <footer>
        <div class="">
          <h5 class="">Company Bio</h5>
          <p class="">No one in our community should go hungry. This application helps passionate experienced individuals and businesses help provide for families, children and seniors in need. </p>
        </div>
    </footer>
  </div>


  <script src="/javascript/logout.js"></script>
   {{!-- <script src="/javascript/main.js"></script> --}}
</body>

</html>