        <nav>
          <!--Unordered list element-->
          <ul>
            <!--List item element-->
                <!--Anchor element-->
            <li>
              <a href="/welcome-page">Home</a>
            </li>
            <li>
                <a href="/allCustomer">Customers</a>
            </li>
            <li>
                <a href="/packages">Packages</a>
            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>
            <li>
                <a href="/contact-us">Contact Us</a>
            </li>
            <li>
                <button id="logout" href="">Logout</button>
            </li>
          </ul>  
        </nav>

<div class="container-fluid">
        <div id="row-dashboard" class="row">    
            <div id="admin-main-control" class="col-md-10 p-x-3 p-y-1">
                <div class="main-content">
                    <h3 id="dashboard-title">Welcome back to your dashboard, have a great day!</h3>
                </div>
            </div>
        </div>
</div>

<script src="/javascript/logout.js"></script>



{{!-- FUTURE ENHANCEMENT --}}
    {{!-- <h3>Welcome back to your dashboard, {{staff.first_name}}!</h3>
        <p>First &#38; Last Name: {{staff.first_name}} {{staff.last_name}}</p>
        <p>Employee Number: {{staff.staff_number}}</p>
        <p>Email: <span id="email-dashboard"></span></p>
    </div> --}}

{{!-- <script type="text/javascript" src="/javascript/email-get-localStorage.js" ></script> --}}