        <nav>
          <!--Unordered list element-->
          <ul>
            <!--List item element-->
                <!--Anchor element-->
            {{!-- <li>
                <a id="dashboard-button" href="">Dashboard</a>
                <a href="/dashboard">Dashboard</a>
            </li> --}}
            <li>
                <a href="/allCustomer">Customers</a>
            </li>
            <li>
                <a href="/packages">Packages</a>
            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>
            <li>
                <a href="/contact-us">Contact Us</a>
            </li>
            <li>
                <a id="logout" href="">Logout</a>
            </li>
          </ul>  
        </nav>

<div class="container-fluid">
        <div class="row">    
            {{!-- <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                <ul class="sidenav admin-sidenav list-unstyled">
                    <li><h4><a href="/allCustomer">View all customers</a></h4></li>
                    <li><h4><a href="/packages">View food packages</a></h4></li>                 
                </ul>
            </div>  --}}
            <div id="admin-main-control" class="col-md-10 p-x-3 p-y-1">

                <div class="main-content">
                    <h3>Welcome back to your dashboard, have a great day!</h3>

                    {{!-- FUTURE ENHANCEMENT --}}
                {{!-- <h3>Welcome back to your dashboard, {{staff.first_name}}!</h3>
                    <p>First &#38; Last Name: {{staff.first_name}} {{staff.last_name}}</p>
                    <p>Employee Number: {{staff.staff_number}}</p>
                    <p>Email: <span id="email-dashboard"></span></p>
                </div> --}}
            </div>
        </div>
    </div>
    {{!-- <script type="text/javascript" src="/javascript/email-get-localStorage.js" ></script> --}}

<script src="/javascript/logout.js"></script>