<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" id="email-login" class="form-control" placeholder="Your Email *" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="password-login" class="form-control" placeholder="Your Password *" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Create an account</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" id="first-name-signup" class="form-control" placeholder="Your First Name *" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="last-name-signup" class="form-control" placeholder="Your Last Name *" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="employee-number-signup" class="form-control" placeholder="Your Employee Number *" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="email-signup" class="form-control" placeholder="Your Email *" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="password-signup" class="form-control" placeholder="Your Password *" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Sign up" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="/javascript/login.js" ></script>