<h1 class="h1-header">PACKAGES</h1>


<div class="page-packages amber">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text">Packages</h5>
                <p class="grey-text text-lighten-4">We offer three food packages of different sizes for families with various needs. </p>


            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Package 1</h5>
                <div class="package-img">
                    <img src="food_packages1.jpg" height="100%" width="100%" alt="">
                </div>
            </div>
            <div class="col l1 s12">
                <h5 class="white-text">Contents</h5>
                <ul>
                    <li><a class="white-text" href="#!">Meat or Fish (2lbs)  </a></li>
                    <li><a class="white-text" href="#!">Assorted vegetables (2lbs)</a></li>
                    <li><a class="white-text" href="#!">Assorted fruits (2lbs) </a></li>
                    <li><a class="white-text" href="#!">Rice/Potatoes (4lbs) </a></li>
                     <li><a class="white-text" href="#!">Bread (2 loaves) </a></li>
                     <li><a class="white-text" href="#!">Cereal (1 box) </a></li>
                    <li><a class="white-text" href="#!">Juice/Milk (2 gallons) </a></li>

                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Package 2</h5>
                <div class="package-img">
                    <img src="food_packages2.jpg" height="100%" width="100%" alt="">
                </div>
            </div>
            <div class="col l1 s12">
                <h5 class="white-text">Contents</h5>
               <ul>
                    <li><a class="white-text" href="#!">Meat or Fish (4lbs)  </a></li>
                    <li><a class="white-text" href="#!">Assorted vegetables (4lbs)</a></li>
                    <li><a class="white-text" href="#!">Assorted fruits (4lbs) </a></li>
                    <li><a class="white-text" href="#!">Rice/Potatoes (8lbs) </a></li>
                    <li><a class="white-text" href="#!">Bread (4 loaves) </a></li>
                    <li><a class="white-text" href="#!">Cereal (2 boxes) </a></li>
                    <li><a class="white-text" href="#!">Juice/Milk (4 gallons) </a></li>

                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Package 3</h5>
                <div class="package-img">
                    <img src="food_packages3.jpg" height="100%" width="100%" alt="">
                </div>
            </div>
            <div class="col l1 s12">
                <h5 class="white-text">Contents</h5>
                <ul>
                    <li><a class="white-text" href="#!">Meat or Fish (8lbs)  </a></li>
                    <li><a class="white-text" href="#!">Assorted vegetables (8lbs)</a></li>
                    <li><a class="white-text" href="#!">Assorted fruits (8lbs) </a></li>
                    <li><a class="white-text" href="#!">Rice/Potatoes (8lbs) </a></li>
                    <li><a class="white-text" href="#!">Bread (4 loaves) </a></li>
                    <li><a class="white-text" href="#!">Cereal (4 boxes) </a></li>
                    <li><a class="white-text" href="#!">Juice/Milk (8 gallons) </a></li>

                </ul>
            </div>
        </div>
    </div>
</div>