<nav>
          <!--Unordered list element-->
          <ul>
            <!--List item element-->
                <!--Anchor element-->
            <li>
                {{!-- <a id="dashboard-button" href="">Dashboard</a> --}}
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/allCustomer">Customers</a>
            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>
            <li>
                <a href="/contact-us">Contact Us</a>
            </li>
            <li>
                <button id="logout-packages" href="">Logout</button>
            </li>
          </ul>  
        </nav>

<h1 class="h1-header">PACKAGES</h1>

<div class="page-packages amber">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text">Packages</h5>
                <p class="grey-text text-lighten-4">We offer three food packages of different sizes for families with various needs. </p>
            </div>
          

{{!-- Card 1 --}}
<div id="card" class="card border-warning" style="width: 18rem;">
  <img class="card-img-top" src="food_packages1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">PACKAGE 1</h5>
    <p class="card-text">Contents</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Meat or Fish (2lbs) </li>
    <li class="list-group-item">Assorted vegetables (2lbs)</li>
    <li class="list-group-item">Rice/Potatoes (4lbs)</li>
    <li class="list-group-item">Bread (2 loaves)</li>
    <li class="list-group-item">Cereal (1 box)</li>
    <li class="list-group-item">Juice/Milk (2 gallons)</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{!-- End of Card 1 --}}

{{!-- Card 2 --}}
<div id="card" class="card border-warning" style="width: 18rem;">
  <img class="card-img-top" src="food_packages1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">PACKAGE 2</h5>
    <p class="card-text">Contents</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Meat or Fish (4lbs) </li>
    <li class="list-group-item">Assorted vegetables (4lbs)</li>
    <li class="list-group-item">Rice/Potatoes (8lbs)</li>
    <li class="list-group-item">Bread (4loaves)</li>
    <li class="list-group-item">Cereal (2 box)</li>
    <li class="list-group-item">Juice/Milk (4 gallons)</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{!-- End Card 2 --}}

{{!-- Card 3 --}}
<div id="card" class="card border-warning" style="width: 18rem;">
  <img class="card-img-top" src="food_packages1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">PACKAGE 3</h5>
    <p class="card-text">Contents</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Meat or Fish (4lbs) </li>
    <li class="list-group-item">Assorted vegetables (4lbs)</li>
    <li class="list-group-item">Rice/Potatoes (8lbs)</li>
    <li class="list-group-item">Bread (4loaves)</li>
    <li class="list-group-item">Cereal (2 box)</li>
    <li class="list-group-item">Juice/Milk (4 gallons)</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{!-- End Card 3 --}}

         
                
        <script src="/javascript/logout-packages.js"></script>
