        <nav>
          <!--Unordered list element-->
          <ul>
            <!--List item element-->
                <!--Anchor element-->
            <li>

            </li>
          </ul>  
        </nav>



<div id="container-welcome-page" class="container">
  <div class="row">
    <div class="col col-leftt align-self-start">
              <p id="slogan">Save the <span class="span-slogan">food</span>, Spread the <span class="span-slogan">love</span></p>
              <div id="div-btn-wel">
              <a id="login-btn-welcome" href="/login">Staff login here</a>
              </div>
    </div>
    <div class="col col-rightt align-self-end">
              <img id="img-welcome" src="pexels-photo-6591151.jpeg" alt="bags of food" ></img>
    </div>
  </div>
</div>




