        <nav>
          <!--Unordered list element-->
          <ul>
            <!--List item element-->
                <!--Anchor element-->
            <li>
                <a href="/login">login</a>
            </li>
          </ul>  
        </nav>

<h1>Welcome page</h1>