        <nav>
          <!--Unordered list element-->
          <ul>
            <!--List item element-->
                <!--Anchor element-->
            <li>

            </li>
          </ul>  
        </nav>



<div id="container-welcome-page" class="container">
  <div class="row">
    
    <div class="col-leftt align-self-end">
              <img id="img-welcome" src="pexels-photo-6646778.jpeg" alt="bags of food" ></img>
    </div>

  {{!-- <div class="row"> --}}
    <div class="col-rightt">

        <div class="row">
              <p id="slogan">Save the <span class="span-slogan">food</span>, Spread the <span class="span-slogan">love</span></p>
        </div>  

        <div class="row">
              {{!-- <div id="div-arrow-wel">
                <span class="arrow" >&#8594;</span>
              </div> --}}

              <div id="div-btn-wel">
                <a id="login-btn-welcome" href="/login"> Login</a>
              </div>
        </div>

    </div>
  {{!-- </div> --}}

  </div>

</div>




