/* GENERAL */

body{
overflow: scroll;
}

/* HEADER / NAV BAR STYLES START */

nav {
    padding: 20px 35px;
    background-color: var(--terciary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header {
    /* margin: 50px; */
    text-align: center;
}

nav {
    margin: 7px 0;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 4px 2px -1px gray; */
    /* padding: 0.2%; */
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    color: #FFC107;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

nav ul li button {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background: white;
    color: black;
    border-radius: 15px;
    text-shadow: none;
}

nav ul li button:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* LOGIN PAGE */

#loginpagebutton {
background-color: #FFC107;
}

#loginpagebutton {
    background-color: #FFC107;
}

#div-form-sign-up {
    background-color: #FFC107;
}

#create-account-form {
    background-color: #FFC107;
}

#sign-up-btn {
    color: #FFC107;
}

#gobackbtn {
    color: #FFC107;
}

/* FOOTER */

footer {
    background-color: #FFC107;
    color: white;
    padding: 40px;
}

/* WELCOME PAGE */

#login-btn-welcome {
    background-color: #FFC107;
    color: white;
    padding: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 0.8vw;
}

#slogan {
    /* color: #f09000; */
    color: black;
    padding: 10px 15px;
    font-size: 1.8vw;
}

#container-welcome-page {
    padding: 70px;
}

/* #img-welcome{
    width: 80%;
} */

.span-slogan {
    color: #F2A22C;
}

.arrow {
    font-size: 2vw;
    width: 50%;
    color: #FFC107;
}

/* .div-arrow-wel {
    padding-right: 100%;
    padding-bottom: 30%;
} */

.col-rightt{
padding: 10%;
margin-left: 10%;
}

#div-btn-wel {
    padding-left: 25%;
    /* padding-top: 15px; */
} 

/* SINGLE CUSTOMER */

#delete-single-customer {
    color: white;
}

#form-update-customer {
    background-color: #FFC107;
    margin-bottom: 10%;
}

#card-single {
    margin: 10%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-width: 5px;
}

#text-update-btn {
    color: #FFC107;
}

.categories {
    font-weight: bold;
}

/* CUSTOMER */

#form-update-customer {
    background-color: #FFC107;
    margin-bottom: 10%;
}

.color-new-form {
    background-color: #FFC107;
    padding: 4%;
    margin: 5%;
}

#title-new-cus {
    text-align: center;
    color: white;
}

#text-new-btn {
    color: #FFC107;
    background-color: white;
}

#customers-all a {
    color: black;
    font-weight: normal;
    font-size: 1.5vw;
}

#row-customer {
    padding-left: 100px;
    padding-right: 100px;
}

#customer-list-title {
    color: #FFC107;
    text-align: center;
    font-size: 22px;
}

/* CONTACT US */

#container-contact-us {
    margin-bottom: 2%;
}

#submit-contact-btn {
    color: white;
    font-weight: normal;
}

/* DASHBOARD */

#dashboard-title {
    text-align: center;
}

#row-dashboard {
    padding: 10%;
}

/* CHAT */

#main-container {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
}

#chat-page-title {
    /* color:#FFC107; */
    color:#0084ff;
    text-align: center;
    margin-bottom: 8%;
}

#title-create-post {
    font-size: 16px;
    color:#43a4ff;
    text-align: center;
}

#create-post {
    background-color: #9bcfff;
    padding-top: 2%;
    padding-left: 2%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

.new-post-form {
    text-align: center;
}

#post-name {
    font-style: italic;
}

#post-info{
    color: rgb(134, 134, 134);
}

#comment-info{
    color: rgb(134, 134, 134);
}

#post-name-single {
    color: rgb(134, 134, 134);
}

#btn-like {
    background-color: rgb(255, 108, 132);
    padding: 0.6%;
    color: white;
    font-weight: bold;
    font-size: 11px;
}

#btn-like:hover {
    background-color: rgb(206, 90, 109);
    padding: 0.6%;
}

#create-comment {
    background-color: #9bcfff;
    padding: 2%;
    margin-bottom: 4%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
}

#title-create-comment {
    font-size: 16px;
    color:#43a4ff;
    text-align: center;
}

.first-plan{
    z-index: 1060;
}

.second-plan {
z-index: 1040 !important;
}

/* PACKAGES */

#coming-soon-packages {
    text-align: center;
    padding: 2%;
}