/* HEADER / NAV BAR STYLES START */

nav {
    padding: 20px 35px;
    background-color: var(--terciary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

nav {
    margin: 7px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li button {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background: white;
    color: black;
    border-radius: 15px;
    text-shadow: none;
}

nav ul li button:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* LOGIN PAGE */

#loginpagebutton {
background-color: #FFC107;
}

#loginpagebutton {
    background-color: #FFC107;
}

#div-form-sign-up {
    background-color: #FFC107;
}

#create-account-form {
    background-color: #FFC107;
}

#sign-up-btn {
    color: #FFC107;
}

#gobackbtn {
    color: #FFC107;
}

/* FOOTER */

footer {
    background-color: #FFC107;
    color: white;
    padding: 40px;
}

/* WELCOME PAGE */

#login-btn-welcome {
    background-color: #FFC107;
    color: white;
    padding: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 0.8vw;
}

#slogan {
    /* color: #f09000; */
    color: black;
    padding: 10px 15px;
    font-size: 1.8vw;
}

#container-welcome-page {
    padding: 70px;
}

#img-welcome{
    width: 80%;
}

.span-slogan {
    color: #FFC107;
}

.col-leftt {
padding-top: 200px;
padding-left: 100px;
}

#div-btn-wel {
    padding-left: 80px;
    padding-top: 15px;
}